* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    /* padding: 2.81rem 3.5rem;  */
    /* haimen fix this */
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    padding: 50px;
}


.container {
    display: flex;
    flex-direction: column;
    
    gap: 45px
}

#page-content {
    display: flex;
    gap: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

nav>div>input {
    display: flex;
    box-sizing: border-box;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    background-color: #AAA;
    border-style: none;

    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav>#print-save-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tabs {
    /* max-width: 917px; */
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    background: #F5F5F5;
}

.tabs__head {
    display: flex;
    align-items: stretch;
}

.tabs__toggle {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 6px 0px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: #D9D9D9;
    cursor: pointer;
    margin:0px;
}

.tabs__toggle.is-active {
    background: #F5F5F5;
}

.tabs__content {
    padding: 45px 56px;
    display: none;
}

.tabs__content.is-active {
    display: block;
}

h4 {
    margin: 0;
}

input, button {
    cursor: pointer;
}

input[type="text"] {
    cursor: auto;
}

input[type="radio"]::before {
    background-color: #AAA;
    border: 0;
    color: red;

}

#format {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.settings-section {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
    gap: 1.25rem;
}

.setting-row {
    margin: .5rem 1.25rem;
    display: flex;
    gap: 2.5rem;
}

.setting-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.setting {
    display: flex;
    align-items: center;

}

.setting > label {
    min-width: 2.5rem;
    margin-right: 1rem;
    flex: 1;
}

.small-text-input {
    width: 2rem;
    background-color: #D9D9D9;
    border: none;
    flex: 2;

}

span {
    margin-left: .5rem;
    flex: 3;
}

#image-process-radios {
    display: flex;
    flex-direction: row;
}

input[name="quality"] {
    margin: 0;
}

.change-buttons {
    display: flex;
    border: 0;
    width: fit-content;
    background-color: #D9D9D9;
    align-items: center;
    padding: .4rem;
    box-shadow: 0 2px 5px gray ;
    gap: .5rem;
}

#image-catalogue {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 21.5rem;
}

details {
    background-color: #E9E9E9;
    padding: 1rem 1rem;

    summary {
        
    }

    p {
        padding-top: 1rem;
    }
}


details::before {
    height: 2.3rem;
}
details::after {
    height: fit-content;
}

#small-image-scrollbox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: .62rem;
}

.image-entry {
    display: flex;
    gap: .5rem;
    height: 1.75rem;
     
    img {
       width: 15%;
        
    }

    .image-details {
        background-color: #D9D9D9;
        flex: 2;
    }
}



/* #main {
    background-color: #F5F5F5;
    padding: 3.75rem 5rem;
    } */
    /* 
    #main> #settings-window {
        display: flex;
        }
        
#main> #settings-window > #display-format-button {
    display: flex;
    padding: 6px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-style: none;
}

#main> #settings-window > #display-appearance-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-style: none;
}

h4 {
    margin: 0;
}

input, button {
    cursor: pointer;
}

input[type="text"] {
    cursor: auto;
}

#top-bar-buttons {
    background-color: #000;
    display: flex;

    >button {
        width: 100%;
        border: 0;
        background-color: gray;
    }

}

#format {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.settings-container-1 {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
    gap: 1.25rem;
}

.settings-container-2 {
    margin: .5rem 1.25rem;
    display: flex;
    gap: 2.5rem;
}

.settings-container-3 {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.setting {
    display: flex;
    align-items: center;
}

.setting-text-prefix {
    min-width: 2.5rem;
    margin-right: 1rem;
    flex: 1;
}

.small-text-input {
    width: 2rem;
    background-color: #D9D9D9;
    border: none;
    flex: 2;

}

.setting-text-suffix {
    margin-left: .5rem;
} */